.container{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.blob {
   position: absolute;
   top: 0;
   left: 0;
   fill: #64C9A9;
   width: 50vmax;
   z-index: -1;   animation: move 15s ease-in-out infinite;
   transform-origin: 50% 50%;
}
.bg-1{
   background-color: #f8f8f8;
}
.bg-2{
   background-color: #ebebeb;
}