<div class="technology-grid">
    <div class="technology-element">
        <img src="./../../../../assets/technology-1.png" alt="">
    </div>
    <div class="technology-element">
        <img src="./../../../../assets/technology-2.png" alt="">
    </div>
    <div class="technology-element">
        <img src="./../../../../assets/technology-3.png" alt="">
    </div>
</div>
<div class="main-grid">
    <div class="grid-element-big">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt obcaecati corporis cumque est, cum repellendus
            neque sapiente aut ipsam architecto deleniti voluptatum, sit et libero similique assumenda ducimus? Ut,
            ullam!</p>
    </div>
</div>