.blob-5 {
   top: 125em;
   left: 10em;
}
.technology-grid{
  margin-top: 3em;
  display: flex;
  margin-bottom: 3em;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}
.technology-element{
    order: 1;
    transition: transform .5s ease;
}
.technology-element:hover{
  transform: scale(1.15);
}
.technology-element img{
	height: 150px;
}
.arrow{

}
.arrow-5 {
	/* more triangle */
	position: relative;
	height: 10px; width: 10px;
	border: 20px solid;
	border-color:
		#2DA9DD
		#2DA9DD
		transparent
		transparent;
	transform: rotate(45deg);
}

.arrow-5:before {
	content: '';
	position: absolute;
	top: -2px; right: -5px;
	display: block;
	height: 30px; width: 40px;
	background-color: #2DA9DD;
	transform:
		rotate(-45deg)
		translate(2px, 1px);
}
.back{
	position: relative;
	z-index: -2;
}
