<div class="technology-grid">
    <div class="technology-element">
        <img src="./../../../../assets/technology-1.png" alt="">
    </div>
    <div class="technology-element arrow">
        <div class="arrow-5"></div>
    </div>
    <div class="technology-element">
        <img src="./../../../../assets/technology-2.png" alt="">
    </div>
    <div class="technology-element arrow">
        <div class="arrow-5"></div>
    </div>
    <div class="technology-element">
        <img src="./../../../../assets/technology-3.png" alt="">
    </div>
</div>
<div class="main-grid">
    <div class="grid-element-big">
        <p>En la tecnología Dry jet-wet fiber spinning el polímero se disuelve en un solvente apropiado para hacer la solución de
        fibra, luego esta solución se extruye con calor y presión en un espacio de aire antes de entrar en un baño de
        coagulación para finalmente lavar y secar la fibra producida antes de ser tratada térmicamente y estirada. La
        instalación de dry jet-wet fiber spinning está en desarrollo y es integrable con la línea de hilatura en húmedo
        existente para la operación de post hilado.</p>
    </div>
</div>