.banner-logo img{
    display: flex;
    height: 30VH;
    border-radius: 50%;
    margin-top: 7vh;
}

.navbar{
    display: flex;
    align-content: center;
    background-color: #ffffff;
    justify-content: space-evenly;
    height: 15vh;
    box-shadow: 0 5px 5px -5px #333;
}
.z-index{
    position: relative;
    z-index: 3;
}
.fixed{
    position: fixed;
}
.toogle{
    display: none;
}
nav a.active{
    background-color:#516B86;
}
.navbar nav{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.navbar a{
    order:1;
    width: auto;
    scroll-behavior: smooth;
    text-decoration: black;
}
.header-row{
    align-content: center;
    width: 100%;
}
.mat-toolbar-row b:hover{
        border-bottom: 3px solid black;
        padding-left: 1em;
        padding-right: 1em;
}
@media (min-width: 1281px) {
  .mat-toolbar-row b{
        font-size: 1.6em;
    }
    .mat-toolbar-row b:hover{
        font-size: 1.65em;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .mat-toolbar-row b{
        font-size: 1.5em;
    }
        .mat-toolbar-row b:hover{
        font-size: 1.55em;
    }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

    .mat-toolbar-row b{
        font-size: 1.1em;
    }
    .mat-toolbar-row b:hover{
        font-size: 1.15em;
    }
}
/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .mat-toolbar-row b{
        font-size: 0.9em;
    }
    .mat-toolbar-row b:hover{
        font-size: 0.95em;
    }
    .navbar{
        flex-direction: column;
        justify-content: start;
        height: 100%;
    }
    .item{
        display: none;
    }
    .toogle{
        order: 1;
        display: block;
        margin-top: 0.75em;
        align-self: flex-end;
    }
    .item-active-sm{
        display: block;
    }
    .toogle-active-sm{
        align-self: center;
        transform: rotate(90deg);
        margin-top: 0em;
    }
    .banner-logo{
        display: none;
    }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 0px) and (max-width: 480px) {
    .mat-toolbar-row b{
        font-size: 0.8em;
    }
    .mat-toolbar-row b:hover{
        font-size: 0.85em;
    }
    .navbar{
        flex-direction: column;
        justify-content: start;
        height: 100%;
    }
    .item{
        display: none;
    }
    .toogle{
        order: 1;
        display: block;
        margin-top: 0.75em;
        align-self: flex-end;
    }
    .item-active-sm{
        display: block;
    }
    .toogle-active-sm{
        align-self: center;
        transform: rotate(90deg);
        margin-top: 0em;
    }
    .banner-logo{
        display: none;
    }
}
