<mat-toolbar class="fixed" color="primary">
        <mat-toolbar-row class=navbar color="primary">
                <div class="row between-xs middle-xs header-row">
                        <nav>
                                <a class="active" mat-button (click)="toHome()">QUIENES SOMOS</a>
                                <a mat-button (click)="toAbout()" routerLinkActive="active">QUÉ HACEMOS</a>
                                <a class="banner-logo" (click)="toHome()"><img src="./../../../assets/logo.png" alt=""
                                                height="40"></a>
                                <a mat-button (click)="toProducts()" routerLinkActive="active">PRODUCTOS</a>
                                <a mat-button (click)="toTechnology()" routerLinkActive="active">TECNOLOGIA</a>
                        </nav>
                </div>

        </mat-toolbar-row>
</mat-toolbar>