<mat-toolbar color="primary">
        <mat-toolbar-row class=navbar color="primary">
                <nav>
                    <a mat-button routerLink="/home" routerLinkActive="active">Quienes Somos</a>
                    <a mat-button routerLink="/about" routerLinkActive="active">Qué hacemos</a>
                    <a class="banner-logo" routerLink="/home"><img src="./../../../assets/logo.png" alt="" height="40"></a>
                    <a mat-button routerLink="/products" routerLinkActive="active">Productos</a>
                    <a mat-button routerLink="/technology" routerLinkActive="active">Tecnologia</a>
                </nav>
        </mat-toolbar-row>
</mat-toolbar>
