.banner-logo img{
}
.navbar{
    display: flex;
    align-content: center; 
}
.fixed{
    position: fixed;
    z-index: 1;
}
nav a.active{
    background-color:cornflowerblue;
}
.navbar nav{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.navbar a{
    order:1;
    width: auto;
    scroll-behavior: smooth;
}
.header-row{
    align-content: center;
    width: 100%;
}