.grid-element img{
    height: 400px;
    display: flex;
    overflow: hidden;
    transition: transform .5s ease;
    border-radius: 11%;
}

img {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  overflow: hidden;
}

img:hover {
transform: scale(1.05);
}
