.footer{
    background-color: #516b86;
    display: flex;
    flex-direction: column;
    height: 45vh;
    box-shadow: -2px 0px 5px 1px #333
}
.footer-subtitle{
    text-align: center;
    margin-bottom: 0em;
    margin-top:0em;
    color: white;
}
.vl {
    border-left: 2px solid #2a3944;
    height: 80%;
    padding-right: 2em;
    order: 1;
    margin-top: 1.5%;
}
.icon{
    padding-top: 0em;
    height: 1.25em;
}
.link{
    text-decoration: none;
    color: #f8f8f8;
    padding-left: 1em;
    
}
.grid{
    background-color: #64C9A9;
    display: flex;
    flex-direction: row;
    height: 85%;
}
.location{
    width: 33%;
    order: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
    margin-left: 1.5em;
    font-size: 1.2em;
    color: #f8f8f8;
    justify-content: space-around;
}

.line p{
    padding-left: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
}

.vl-1{
    order: 2;
}
.follow{
    order:3;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    justify-content: center;
}
.follow-list{
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 0em;
    justify-content: space-around;
}
.vl-2{
    order: 4;
}
.contact{
    order: 5;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    justify-content: center;
}
.contact-list{
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 0em;
    justify-content: space-around;
}

.line{
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
}
.powered{
    height: 16%;
    justify-content: center;
    width: 100%;
    display: flex;
    text-align: center;
    align-items:center;
    color: white;
}
.powered p{
    margin-top: 0.4em;
    margin-bottom: 0em;
    font-size: 1.2em;
}
.powered p a{
    text-decoration: none;
    color: white;
}
@media (min-width: 768px) and (max-width: 1024px) {

    h3{
        font-size: 1em;
        text-align: center;
    }
    
    .location p{
        font-size: 0.8em;
    }
    .location img{
        align-items: center;
    }
    .line a{
        display: flex;
        font-size: 0.8em;
    }
    .line p{
        display: flex;
        font-size: 0.8em;
    }
    .vl{
        margin-top: 2.5%;
        padding-right: 2em;
    }
    .powered p a span{
        margin-top: 0em;
        font-size: 0.8em;
    }
    .icon{
        height: 0.9em;
    }
    h3{
        margin-bottom: 0em;
    }
    .footer{
		height: 40vh;
    }
}
@media (min-width: 481px) and (max-width: 767px) {

    h3{
        font-size: 0.9em;
        text-align: center;
    }
    .grid{
        height: 93%;
        flex-direction: column;
    }
    .powered{
        height: 5%;
        padding-top: 0.1em;
    }
    .vl{
        height: 1em;
        border-left: 0;
        border-bottom: 2px solid #2a3944;
        width: 80%;
        align-self: center;
        margin-bottom: 1.5em;
    }
    .location{
        height: 32%;
        width: auto;
        margin-left: 0em;
    }
    .follow{
        height: 32%;
        width: auto;
    }
    .contact{
        height: 32%;
        width: auto;
    }
    h3{
        font-size: 0.9em;
    }
    .location p{
        font-size: 0.45em;
    }
    .location img{
        align-items: center;
    }
    .line{
        padding-left: 2em;
    }
    .line a{
        display: flex;
        font-size: 0.75em;
    }
    .line p{
        display: flex;
        font-size: 0.75em;
        margin-bottom: 0em;
    }
    .vl{
        padding-right: 1em;
    }

    .powered p a span{
        margin-top: 0em;
        font-size: 0.60em;
    }
    .powered p{
        margin-top: 0.1em;
    }
    .icon{
        height: 0.9em;
    }
    h3{
        margin-bottom: 1em;
    }
    .footer{
		height: 90vh;
    }
}

@media (min-width: 0px) and (max-width: 480px) {
   h3{
        font-size: 0.9em;
        text-align: center;
    }
    .grid{
        height: 93%;
        flex-direction: column;
    }
    .powered{
        height: 5%;
        padding-top: 0.1em;
        font-size: 0.8em;
    }
    .vl{
        height: 1em;
        border-left: 0;
        border-bottom: 2px solid #2a3944;
        width: 80%;
        align-self: center;
    }
    .location{
        height: 32%;
        margin-left: 0em;
        width: auto;
    }
    .follow{
        height: 32%;
        width: auto;
    }
    .contact{
        height: 32%;
        width: auto;
    }
    h3{
        font-size: 0.9em;
    }
    .location p{
        font-size: 0.45em;
    }
    .location img{
        align-items: center;
    }
    .line{
        padding-left: 2em;
    }
    .line a{
        display: flex;
        font-size: 0.75em;
    }
    .line p{
        display: flex;
        font-size: 0.75em;
        margin-bottom: 0em;
    }
    .vl{
        margin-top: 2%;
        padding-right: 1em;
    }

    .powered p a span{
        margin-top: 0em;
        font-size: 0.60em;
    }
    .powered p{
        margin-top: 0.1em;
    }
    .icon{
        padding-top: 0.5em;
        height: 0.9em;
    }
    h3{
        margin-bottom: 1em;
    }
    .footer{
		height: 100vh;
    }
}