.footer{
    background-color: #516b86;
    display: flex;
    flex-direction: column;
    height: 45vh;
}

.vl {
    border-left: 6px solid #2a3944;
    height: 80%;
    padding-right: 2em;
    order: 1;
    margin-top: 1.5%;
}
.icon{
    padding-top: 1em;
    height: 1.25em;
}
.link{
    text-decoration: none;
    color: black;
    padding-left: 1em;
    
}
.grid{
    background-color: #64C9A9;
    display: flex;
    flex-direction: row;
    height: 85%;
}
.location{
    width: 33%;
    order: 1;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    font-size: 1.3em;
}
.location div{
    display: flex;
    padding-left: 1em;
}
.location div p{
    padding-left: 1em;
}
.vl-1{
    order: 2;
}
.follow{
    order:3;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}
.follow-list{
    display: flex;
    flex-direction: column;
    margin-top: 0em;
}
.vl-2{
    order: 4;
}
.contact{
    order: 5;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}
.contact-list{
    display: flex;
    flex-direction: column;
    margin-top: 0em;
}

.line{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
}
.powered{
    height: 5vh;
    justify-content: center;
    width: 100%;
    display: flex;
}
.powered p{
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-size: 1.5em;
}
.powered p a{
    text-decoration: none;
    color: black;
}
@media (min-width: 0px) and (max-width: 480px) {
    .location p{
        font-size: 0.90em;
    }
    .location img{
        align-items: center;
    }
    .line a{
        display: flex;
        font-size: 0.80em;
    }
    .powered p a span{
        font-size: 0.80em;
    }
    .icon{
        padding-top: 1.3em;
    }

    .footer{
		height: 23vh;
    }
}