<footer class="footer">
    <div class="grid">
        <div class="location">
            <div>
                <img class="icon" src="../../../assets/map-marker-alt-solid.svg" alt="">
                <p>PRINCIPAL, Segundaria</p>
            </div>
            <div>
                <img class="icon" src="../../../assets/map-marker-alt-solid.svg" alt="">
                <p>PRINCIPAL, Segundaria</p>
            </div>
            <div>
                <img class="icon" src="../../../assets/map-marker-alt-solid.svg" alt="">
                <p>PRINCIPAL, Segundaria</p>
            </div>
        </div>
        <div class="vl vl-1"></div>
        <div class="follow">
            <h3 class="footer-subtitle">Siguenos En</h3>
            <div class="follow-list">
                <div class="line">
                    <img class="icon" src="../../../assets/facebook-square-brands.svg" alt=""><a class="link"
                        href="http://www.facebook.com">/facebook</a>
                </div>
                <div class="line">
                    <img class="icon" src="../../../assets/instagram-brands.svg" alt=""><a class="link"
                        href="http://www.instagram.com">@instagram</a>
                </div>
                <div class="line">
                    <img class="icon" src="../../../assets/twitter-square-brands.svg" alt=""><a href="www.twitter.com"
                        class="link">@twitter</a>
                </div>
            </div>

        </div>
        <div class="vl vl-2"></div>
        <div class="contact">
            <h3 class="footer-subtitle">Contacto</h3>
            <div class="contact-list">
                <div class="line">
                    <img class="icon" src="../../../assets/envelope-solid.svg" alt="">
                    <a href="#" class="link">usuario@mail.com</a>
                </div>

                <div class="line">
                    <img class="icon" src="../../../assets/phone-square-alt-solid.svg" alt="">
                    <a href="#" class="link">####-####-####</a>
                </div>
            </div>

        </div>
    </div>
    <div class="powered">
        <p>Powered by <a href="https://innovaciondocente.utpl.edu.ec"><span><b>Laboratorio de Investigación e Innovación Docente UTPL</b></span></a></p>
    </div>
</footer>