/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif;background-color: #f8f8f8;}
.blob {
   position: absolute;
   fill: #64C9A9;
   width: 55%;
   z-index: 0;
   transform-origin: 50% 50%;
}

.section{
    padding-top: 0;
    padding-bottom: 0;
}

.section p{
    z-index: 1;
}
.main-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-bottom: 0;
    padding-right: 2.5vh;
    padding-left: 2.5vh;
    top: 20vh;
    height: 80vh;
}
.grid-element-big p{
    padding-left: 4em;
    padding-right: 4em;
}
.grid-element{
    margin-top: 10vh;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 1em;
    width: 50%;
    order:1;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}
.grid-element-big p{
    text-align: left;
}
.p-right{
    text-align: right;
} 
.grid-element p{
    text-align: left;
    font-size: 1em;
}
