/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif;background-color: #2da9dd;} 
.blob {
   position: absolute;
   fill: #64C9A9;
   width: 55%;
   z-index: 0; 
   transform-origin: 50% 50%;
}
.container{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.section{
    padding-top: 1em;
    padding-bottom: 0em;
}

.section p{
    z-index: 1;
}
.main-grid{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-grid p{
    padding-right: 3em;
    padding-left: 2em;
}

.grid-element{
    margin-top: 4em;
    width: 50%;
    order:1;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}

.grid-element-big{
    margin-top: 4em;
    width: 100%;
    order:1;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}

.grid-element-big p{
    text-align: justify;
}

.grid-element p{
    padding-left: 4em;
    text-align: justify;
}
