<div class="main-grid">
    <div class="grid-element-big">
        <p>La fibra celulósica obtenida es sometida a un proceso de curado para recubrirla con nanopartículas de titanio y zinc lo
        que la hace repelente al polvo, antimicrobiana y le otorga algunas características:</p>
    </div>
</div>
<!--Product-grid-->
<div class="product-grid">
    <!--Prooducto 1-->
    <div class="grid-card">
        <mat-card>
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src='./../../../../assets/card-1.png' alt="producto-1">
            <mat-card-content>
                <p>Es transpirable, suave y fresco, se recomienda para personas con problemas de sudoración ya que absorbe la humedad y
                no deja olores.</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!--Producto 2-->
    <div class="grid-card">
        <mat-card>
            <img mat-card-image src='./../../../../assets/card-2.png' alt="producto-2">
            <mat-card-content>
                <p>Buena resistencia y tracción en seco y húmedo y hace que la fibra sea fácilmente lavable.</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!--Producto 3-->
    <div class="grid-card">
        <mat-card>
            <img mat-card-image src='./../../../../assets/card-3.png' alt="producto-3">
            <mat-card-content>
                <p>Buena estabilidad dimensional y sus tejidos se encogen menos al humedecerlos que los fabricados con algodón y rayón.</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!--Producto 4-->
    <div class="grid-card">
        <mat-card>
            <img mat-card-image src='./../../../../assets/card-4.png' alt="producto-4">
            <mat-card-content>
                <p>Aplicable en tejidos planos y de punto.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>