.blob-4 {
   top: 250vh;
   left: 45vw;
}
.column-grid{
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: end;
}
.grid-card{
  height: 20vh;
}
.product-grid{
    order: 2;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.products-description{
  height: 10vh;
}
.grid-card:hover{
    transform: scale(1.05);
    z-index: 2;
}
.grid-element-big{
    justify-content: center;
    margin-top: 0em;
    margin-bottom: 1em;
    width: 100%;
    order:1;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

  .blob-4{
    /*transform: translate(-300px,100px);*/
    left: 45vw;
  }
  .grid-element-big {
    font-size: 1.4em;
    padding-left: 0em;
  }
  .grid-card p{
    width: auto;
    font-size: 1.2em;
    text-align: justify;
  }
  .grid-card{
      width: 30%;
      order: 2;
      margin-left: 3em;
      margin-right: 3em;
      margin-bottom: 3em;
      padding-bottom: 5em;
      transition: transform 1.25s ease;
      z-index: 1;
  }
  .mat-card-image{
    height: auto;
  }
  .mat-card-content {
    box-sizing: content-box;
  }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .grid-element-big {
    font-size: 1.3em;
    padding-left: 2em;
  }
  .grid-card p{
    width: auto;
    font-size: 1.1em;
    text-align: justify;
  }
  .grid-card{
      width: 30%;
      order: 2;
      margin-left: 3em;
      margin-right: 3em;
      margin-bottom: 3em;
      padding-bottom: 4em;
      transition: transform 1.25s ease;
      z-index: 1;
  }
  .mat-card-image{
    height: inherit;
  }
  .mat-card-content {
    box-sizing: content-box;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-element-big {
    font-size: 1.1em;
    padding-left: 1em;
  }
  .grid-card p{
    width: auto;
    font-size: 1.1em;
    text-align: justify;
  }
  .grid-card{
      width: 30%;
      order: 2;
      margin-left: 3em;
      margin-right: 3em;
      margin-bottom: 3em;
      padding-bottom: 3em;
      transition: transform 1.25s ease;
      z-index: 1;
  }
  .mat-card-image{
    height: inherit;
  }
  .mat-card-content {
    box-sizing: content-box;
  }
}
/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .main-grid{
    height: 110%;
    flex-direction: column;
    width: auto;
    align-items: center;
    padding-bottom: 0vh;
    padding-top: 10vh;
  }
  .grid-element-big {
    font-size: 1em;
    padding-left: 1em;
  }
  .product-grid {
    height: 80%;
  }
  .grid-element-big p{
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
  }
  .grid-card p{
    width: auto;
    font-size: 1em;
    text-align: justify;
  }
  .grid-card{
      width: 60%;
      height: 10vh;
      order: 2;
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 1em;
      padding-bottom: 2em;
      transition: transform 1.25s ease;
      z-index: 1;
  }
  .mat-card-image{
    height: inherit;
  }
  .mat-card-content {
    box-sizing: content-box;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 0px) and (max-width: 480px) {
  .blob-4{
    transform: translate(-500px,100px);
  }
  .grid-element-big {
    font-size: 1.1em;
    padding-left: 0.1em;
  }
  .grid-card p{
    width: auto;
    font-size: 1.3em;
    text-align: justify;
  }
  .grid-card{
      width: 75%;
      order: 2;
      margin-left: 3em;
      margin-right: 3em;
      margin-bottom: 3em;
      transition: transform .5s ease;
      z-index: 1;
  }
  .mat-card-image{
    height: inherit;
  }
  .mat-card-content {
    box-sizing: content-box;
  }
}
