.blob-4 {
   top: 80em;
   left: 65em;
}
.product-grid{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}
.grid-card{
    width: 30%;
    display: flex;
    order: 2;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
}
.grid-element-big{
    justify-content: center;
    margin-top: 0em;
    margin-bottom: 1em;
}