<div class="main-grid">
    <div class="grid-element-big">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quod ex ullam laborum. Rem praesentium optio
            animi exercitationem, aliquid sunt earum ea sequi voluptatibus pariatur voluptas quae dolor doloribus
            aperiam!</p>
    </div>
</div>
<!--Product-grid-->
<div class="product-grid">
    <!--Prooducto 1-->
    <div class="grid-card">
        <mat-card>
            <img mat-card-image src='./../../../../assets/card-1.png' alt="producto-1">
            <mat-card-content>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur nihil, obcaecati a provident
                    suscipit ducimus perferendis eos fugit eaque dolorem qui incidunt maiores reprehenderit cupiditate,
                    nesciunt impedit. Reiciendis, libero debitis?</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!--Producto 2-->
    <div class="grid-card">
        <mat-card>
            <img mat-card-image src='./../../../../assets/card-2.png' alt="producto-2">
            <mat-card-content>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur nihil, obcaecati a provident
                    suscipit ducimus perferendis eos fugit eaque dolorem qui incidunt maiores reprehenderit cupiditate,
                    nesciunt impedit. Reiciendis, libero debitis?</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!--Producto 3-->
    <div class="grid-card">
        <mat-card>
            <img mat-card-image src='./../../../../assets/card-3.png' alt="producto-3">
            <mat-card-content>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur nihil, obcaecati a provident
                    suscipit ducimus perferendis eos fugit eaque dolorem qui incidunt maiores reprehenderit cupiditate,
                    nesciunt impedit. Reiciendis, libero debitis?</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!--Producto 4-->
    <div class="grid-card">
        <mat-card>
            <img mat-card-image src='./../../../../assets/card-4.png' alt="producto-4">
            <mat-card-content>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur nihil, obcaecati a provident
                    suscipit ducimus perferendis eos fugit eaque dolorem qui incidunt maiores reprehenderit cupiditate,
                    nesciunt impedit. Reiciendis, libero debitis?</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>