<div class="main-grid">
    <div class="blob blob-2">
        <!-- This SVG is from https://codepen.io/Ali_Farooq_/pen/gKOJqx -->
        <svg viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
            <path fill="#64C9A9"
                d="M43.5,-49.5C57.1,-40.5,69.3,-27.4,70.9,-13.2C72.5,1,63.6,16.3,55.1,32.6C46.6,48.9,38.5,66.2,26.1,70C13.7,73.7,-3,64,-20.1,57C-37.3,50,-54.8,45.9,-59.5,35.5C-64.2,25,-56.1,8.3,-53.6,-10C-51.1,-28.3,-54.1,-48.2,-46.1,-58.2C-38.1,-68.3,-19,-68.4,-2,-66C15,-63.6,30,-58.6,43.5,-49.5Z"
                transform="translate(0 75)" />
        </svg>
    </div>
    <div class="blob blob-3">
        <!-- This SVG is from https://codepen.io/Ali_Farooq_/pen/gKOJqx -->
        <svg viewBox="0 0 325 325" xmlns="http://www.w3.org/2000/svg">
            <path fill="#64C9A9"
                d="M27.1,-43.3C37.5,-35.5,49.9,-32,62,-23.2C74.1,-14.3,85.8,-0.1,87.4,15C89,30.1,80.4,46.1,67.3,54.6C54.2,63.1,36.6,64,22.4,61.3C8.3,58.5,-2.6,52.1,-14.2,48.5C-25.8,45,-38.2,44.5,-52.5,39.2C-66.7,34,-82.8,24.1,-81.1,13.7C-79.5,3.2,-60.3,-7.8,-52.1,-23.1C-44,-38.4,-46.9,-58,-40.1,-67.4C-33.3,-76.9,-16.6,-76.1,-4.1,-69.7C8.4,-63.3,16.7,-51.2,27.1,-43.3Z"
                transform="translate(350 100)" />
        </svg>
    </div>
    <div class="grid-element wrap-section">
        <p>Reconstruimos fibra textil mediante disolución no derivativa de la celulosa y posterior coagulación con la
            tecnología
            Wet-spinning en un proceso que no requiere de químicos nocivos para el ambiente.</p>
    </div>
    <div class="grid-element grid-img wrap-section">
        <div class="element-img">
            <img class="circular" src="./../../../../assets/img-1.png" alt="">
            <h3 class="line"><b>Material de partida:</b>
                bagazo de caña de azúcar</h3>
        </div>
        <div class="element-img">
            <img class="circular" src="./../../../../assets/img-2.png" alt="">
            <h3>Deslignificación alcalina</h3>
        </div>
    </div>
    <div class="grid-element grid-img wrap-section">
        <div class="element-img">
            <img class="circular" src="./../../../../assets/img-3.png" alt="">
            <h3>Pulpa celulósica</h3>
        </div>

        <div class="element-img">
            <img class="circular" src="./../../../../assets/img-4.png" alt="">
            <h3>Fibra regenerada</h3>
        </div>
    </div>
    <div class="grid-element wrap-section p-large">
        <p>La tecnología Dry jet-wet fiber spinning es una combinación de técnicas de wet-spinning (hiladura en
            húmedo)
            y en
            dry-spinning (hiladura en seco) para la formación de fibras aprovechando los beneficios de ambas
            tecnologías. La
            tecnología requiere hilado directo en un baño de coagulación. Esta pequeña diferencia en la disposición
            de
            la
            hilera (es
            decir, colocarla fuera del baño de coagulación) provoca una diferencia significativa en el rendimiento
            de
            hilatura y la
            estructura final de la fibra.
        </p>
    </div>
</div>