<div class="main-grid">
    <div class="grid-element">
        <p>Reconstruimos fibra textil mediante disolución no derivativa de la celulosa y posterior coagulación con la tecnología
        Wet-spinning en un proceso que no requiere de químicos nocivos para el ambiente.</p>
    </div>
    <div class="grid-element grid-img">
        <div class="element-img">
            <img class="circular" src="./../../../../assets/img-1.png" alt="">
            <h3 class="line"><b>Material de partida:</b>
                 bagazo de caña de azúcar</h3>
        </div>
        <div class="element-img">
            <img class="circular" src="./../../../../assets/img-2.png" alt="">
            <h3>Deslignificación alcalina</h3>
        </div>
    </div>
    <div class="grid-element grid-img">
        <div class="element-img">
            <img class="circular" src="./../../../../assets/img-3.png" alt="">
            <h3>Pulpa celulósica</h3>
        </div>
        
        <div class="element-img">
            <img class="circular" src="./../../../../assets/img-4.png" alt="">
            <h3>Fibra regenerada</h3>
        </div>
        
    </div>
    <div class="grid-element">
        <p>La tecnología Dry jet-wet fiber spinning es una combinación de técnicas de wet-spinning (hiladura en húmedo) y en
        dry-spinning (hiladura en seco) para la formación de fibras aprovechando los beneficios de ambas tecnologías. La
        tecnología requiere hilado directo en un baño de coagulación. Esta pequeña diferencia en la disposición de la hilera (es
        decir, colocarla fuera del baño de coagulación) provoca una diferencia significativa en el rendimiento de hilatura y la
        estructura final de la fibra.
        </p>
    </div>
</div>