<div class="main-grid">
    <div class="grid-element">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident sequi ipsum deserunt eum mollitia modi, velit, a rem eos adipisci tempora unde voluptatem aliquid necessitatibus nihil. Neque, temporibus? Totam, ipsam.</p>
    </div>
    <div class="grid-element">
        <img src="./../../../../assets/img-2.png" alt="">
    </div>
    <div class="grid-element">
        <img src="./../../../../assets/img-3.png" alt="">
    </div>
    <div class="grid-element">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident sequi ipsum deserunt eum mollitia modi,
            velit, a rem eos adipisci tempora unde voluptatem aliquid necessitatibus nihil. Neque, temporibus? Totam, ipsam.
        </p>
    </div>
</div>
