.blob-2 {
   top: 80vh;
   left: 0em;
   transform: translate(-15px, 0px);
}

.blob-3{
   top: 180%;
   left: 45%;
}
.element-img{
  height: 35vh;
  margin-top: 0em;
}
.main-grid{
    margin-top: 0em;
}
.grid-element{
    z-index: 1;
}
.grid-element p {
  font-size: 1.10em;
}
.p-large{
  font-size: 0.90em;
  margin-top:0em;
}
.grid-img{
    align-items: flex-end;
    z-index: 1;
}
.element-img h3{
    width: 60%;
    text-align: center;
}
.circular{
    border-radius: 25px;
    -moz-box-shadow:    0 8px 6px -6px  black;
    -webkit-box-shadow: 0 8px 6px -6px  black;
    box-shadow:         0 8px 6px -6px  black;
    overflow: hidden;
    transition: transform 1.15s ease;
}
.circular:hover{
    transform: scale(1.10);
}
.wrap-section{
    padding-bottom: 0em;
    padding-top: 0em;
    margin-bottom: 0em;
    margin-top: 0em;
    height: auto;
}
.about-grid{
  margin-top: 2em;
  padding-top: 15vh;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .about-grid{
    height: 90vh;
    padding-top: 18vh;
    align-items: baseline;
    align-content: baseline;
  }
  .align-center{
    align-self: center;
  }
    .grid-element p {
      font-size: 1.2em;
      padding-left: 4em;
      padding-right: 3em;
      text-align: justify;
    }
    .element-img{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .element-img img {
      height: 15rem;
      width: inherit;
      margin-bottom: 1em;
    }
    .element-img h3{
      width: 100%;
    }
    .blob-2{
      transform: translate(-300px, 100px);
    }

}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    .grid-element p {
      font-size: 1.2em;
      padding-left: 3em;
      padding-right: 3em;
      text-align: justify;
    }
    .element-img{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: baseline;
    }
    .element-img img {
      height: 15rem;
      width: inherit;
      margin-bottom: 1em;
    }
    .blob-2{
        transform: translate(-300px, 100px);
    }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-element p{
    font-size: 1.1em;
    padding-left: 2em;
    padding-right: 2em;
  }
  .element-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
  }
  .element-img img{
    height: 10rem;
    width: inherit;
    margin-bottom: 1em;
  }
  .element-img h3{
    font-size: 1em;
  }
  .blob-2{
    transform: translate(-300px, 100px);
  }
}
/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .grid-element p {
    font-size: 1.3em;
    text-align: justify;
  }
  .main-grid {
    flex-direction: column;
    width: auto;
    align-items: center;
    height: 185vh;
    padding-bottom: 0vh;
    margin-top: 40vh;
    padding-top: 0vh;
  }
  .grid-element{
    width: auto;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 7.5vh;
  }
  .grid-element.grid-img.wrap-section{
    width: 75%;
  }
  .grid-element.wrap-section.p-large.align-center{
    margin-top: 0vh;
  }
  .element-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p-large {
    font-size: 0.9em;
  }
  .element-img img{
    height: 10rem;
    width: inherit;
    margin-bottom: 1em;
  }
  .blob-2{
      transform: translate(-400px, 200px);
  }
  .element-img h3{
    font-size: 0.9em;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 0px) and (max-width: 480px) {
  .blob-2{
      transform: translate(-600px, 300px);
  }
  .grid-element p {
    font-size: 1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    text-align: justify;
    height: auto;
  }
  .main-grid {
    flex-direction: column;
    width: auto;
    align-items: center;
    height: 130vh;
    padding-bottom: 0vh;
  }
  .grid-element{
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .grid-element.grid-img.wrap-section{
    width: 75%;
  }
  .grid-element.wrap-section.p-large{
    margin-top: -50px;
  }
  .element-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .element-img img{
    height: 8rem;
    width: 90%;
    margin-bottom: 1em;
  }
  .element-img h3{
    font-size: 0.9em;
  }
}
