.blob-2 {
   top: 0em;
   left: 40em;
}
.blob-3{
   top: 48em;
   left: -1em;
}
.main-grid{
    margin-top: 0em;
}
.grid-element{
    height: 300px;
    z-index: 1;
}
.grid-element p {
  font-size: 1.15em;
}
.grid-img{
    align-items: baseline;
    z-index: 1;
}
.element-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
.element-img img{
    height: 250px;
    width: inherit;
    margin-bottom: 1em;
}
.element-img h3{
    justify-self: center;
    width: 50%;
    text-align: center;
}
.circular{
    border-radius: 50%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    overflow: hidden;
    transition: transform .5s ease;
}
.circular:hover{
    transform: scale(1.10);
}
